<template name="affichageLieuxTemplate">
        <h1>Lieux</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Rue</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each lieux}}
                    <tr>
                        <td>{{ nom }}</td>
                        <td>{{ rue }}</td>
                        <td>{{ ville.nom }}</td>
                        <td>
                            <button class="btn btn-outline-info" id="read_btn">Détails</button>
                            <button class="btn btn-outline-info" id="update_btn">Modifier</button>
                            <button class="btn btn-outline-danger" id="delete_btn">Supprimer</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </template>