<template name="readFormLieuxTemplate">
        {{#autoForm collection="Lieux" doc=lieu id="readLieuxForm" type="disabled"}}
            <fieldset>
              <legend>Détails du lieu</legend>
              {{> afQuickField name='nom'}}
              {{> afQuickField name='rue'}}
              {{> afQuickField name='villeId' options=villesOptions}}
            </fieldset>
            <button type="submit" class="btn btn-primary" id="submitRead_btn">Retour</button>
        {{/autoForm}}
    </template>