<template name="affichageTypesMachineTemplate">
        <h1>Types de machine</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Libellé/th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each typesMachine}}
                    <tr>
                        <td>{{ libelle }}</td>
                        <td>
                            <button class="btn btn-outline-info" href="#" id="show_btn">Détails</button>
                            <button class="btn btn-outline-info" id="update_btn">Modifier</button>
                            <button class="btn btn-outline-danger" id="delete_btn">Supprimer</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </template>