<template name="typesMachineTemplate">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseInsertForm" aria-expanded="false" aria-controls="collapseInsertForm">
                Afficher le formulaire d'insertion
            </button>
            <div class="collapse" id="collapseInsertForm">
                <div class="card card-body">
                        {{> insertFormTypesMachineTemplate}}
                </div>
            </div>
        </p>
        {{> affichageTypesMachineTemplate}}
    </template>