<template name="affichageAppareilsTemplate">
    <h1>Appareils</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Nom</th>
                <th scope="col">Local</th>
                <th scope="col">Lieu</th>
                <th scope="col">Date de mise en service</th>
                <th scope="col">Lié à</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each appareils}}
                <tr>
                    <td>{{ typeMachine }}</td>
                    <td>{{ nom }}</td>
                    <td>{{ local }}</td>
                    <td>{{ lieu }}</td>
                    <td>{{ dateMiseEnService }}</td>
                    <td>{{ parent }}</td>
                    <td>
                        <button class="btn btn-outline-info" href="#" id="show_btn">Détails</button>
                        <button class="btn btn-outline-info" id="update_btn">Modifier</button>
                        <button class="btn btn-outline-danger" id="delete_btn">Supprimer</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>