<template name="readFormAppareilsTemplate">
    {{#autoForm collection="Appareils" doc=appareil id="readAppareilsForm" type="disabled"}}
        <fieldset>
            <legend>Détails de l'appareil</legend>
            {{> afQuickField name='numeroSerie'}}
            {{> afQuickField name='nom'}}
            {{> afQuickField name='modeleId'}}
            {{> afQuickField name='typeMachineId'}}
            {{> afQuickField name='villeId'}}
            {{> afQuickField name='lieuId'}}
            {{> afQuickField name='localId'}}
            {{> afQuickField name='fournisseurId'}}
            {{> afQuickField name='dateMiseEnService'}}
            {{> afQuickField name='dateSortieDeService'}}
            {{> afQuickField name='dateFinDeSupport'}}
            {{> afQuickField name='dureeGarantie'}}
            {{> afQuickField name='parentId'}}
        </fieldset>
        <button type="submit" class="btn btn-primary" id="submitRead_btn">Retour</button>
    {{/autoForm}}
</template>