<template name="updateFormAppareilsTemplate">
        {{#autoForm collection="Appareils" doc=appareil id="updateAppareilsForm" type="update"}}
            <fieldset>
              <legend>Modifier un appareil</legend>
              {{> afQuickField name='numeroSerie'}}
              {{> afQuickField name='nom'}}
              {{> afQuickField name='modeleId'}}
              {{> afQuickField name='typeMachineId'}}
              {{> afQuickField name='localId'}}
              {{> afQuickField name='fournisseurId'}}
              {{> afQuickField name='dateMiseEnService'}}
              {{> afQuickField name='dateSortieDeService'}}
              {{> afQuickField name='dateFinDeSupport'}}
              {{> afQuickField name='dureeGarantie'}}
              {{> afQuickField name='parentId'}}
            </fieldset>
            <button type="submit" class="btn btn-primary" id="submitUpdate_btn">Modifier</button>
        {{/autoForm}}
</template>