<template name="navBarTemplate">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{pathFor route='Home'}}">Inventaire IT</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{pathFor route='Home'}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Objets
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{pathFor route='Appareils'}}">Appareils</a>
                <a class="dropdown-item" href="{{pathFor route='Consommables'}}">Consommables</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Propriétés
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{pathFor route='Modeles'}}">Modèles</a>
                <a class="dropdown-item" href="{{pathFor route='Marques'}}">Marques</a>
                <a class="dropdown-item" href="{{pathFor route='Fournisseurs'}}">Fournisseurs</a>
                <a class="dropdown-item" href="{{pathFor route='TypesMachine'}}">Types de machine</a>
                <a class="dropdown-item" href="{{pathFor route='Locaux'}}">Locaux</a>
                <a class="dropdown-item" href="{{pathFor route='Lieux'}}">Lieux</a>
                <a class="dropdown-item" href="{{pathFor route='Villes'}}">Villes</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
          </form>
        </div>
      </nav>
</template>