<template name="affichageVillesTemplate">
        <h1>Villes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">NPA</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each villes}}
                    <tr>
                        <td>{{ nom }}</td>
                        <td>{{ npa }}</td>
                        <td>
                            <button class="btn btn-outline-info" id="read_btn">Détails</button>
                            <button class="btn btn-outline-info" id="update_btn">Modifier</button>
                            <button class="btn btn-outline-danger" id="delete_btn">Supprimer</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </template>