<template name="insertFormConsommablesTemplate">
        {{#autoForm collection="Consommables" id="insertConsommablesForm" type="insert"}}
            <fieldset>
              <legend>Ajouter un consommable</legend>
              {{> afQuickField name='numeroSerie'}}
              {{> afQuickField name='couleur' options=couleursOptions}}
              {{> afQuickField name='modeleId' options=modelesOptions}}
              {{> afQuickField name='localId' options=locauxOptions}}
              {{> afQuickField name='fournisseurId' options=fournisseursOptions}}
              {{> afQuickField name='quantite'}}
            </fieldset>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        {{/autoForm}}
</template>