<template name="insertFormConsommablesTemplate">
        {{#autoForm collection="Consommables" id="insertConsommablesForm" type="insert"}}
            <fieldset>
              <legend>Ajouter un consommable</legend>
              {{> afQuickField name='numeroSerie'}}
              {{> afQuickField name='couleur'}}
              {{> afQuickField name='modeleId'}}
              {{> afQuickField name='localId'}}
              {{> afQuickField name='fournisseurId'}}
              {{> afQuickField name='quantite'}}
            </fieldset>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        {{/autoForm}}
</template>