<template name="updateFormConsommablesTemplate">
    {{#autoForm collection="Consommables" doc=consommable id="updateConsommablesForm" type="update"}}
        <fieldset>
          <legend>Modifier un consommables</legend>
          {{> afQuickField name='numeroSerie'}}
          {{> afQuickField name='couleur'}}
          {{> afQuickField name='modeleId'}}
          {{> afQuickField name='localId'}}
          {{> afQuickField name='fournisseurId'}}
          {{> afQuickField name='quantite'}}
        </fieldset>
        <button type="submit" class="btn btn-primary" id="submitUpdate_btn">Modifier</button>
    {{/autoForm}}
</template>